//fonts
//font: [font-style||font-variant||font-weight] font-size [/line-height] font-family | inherit


//colors from hovermap

//colors for project
$green: #70c446;
$red: #c80e24;

//other variables
$tablet: '1199px';
$mobile: '767px';
$desktop: '1600px';