extends ../extend/default

block variables
    - var title = 'Home page';

block main
    main.content(data-page='home')
        +b.preloader
            +e.coin
                img(src="static/img/coin.svg" alt='image')
        +b.container
            +b.select-section
                +e.title Select currency to exhange:
                .custom-select
                    select
                        option(value='default') USD
                        option(value='USD') USD
                        option(value='EUR') EUR
                        option(value='RUB') RUB
                        option(value='GBP') GBP
            +b.blocks
                +b.crypto.ethereum
                    +e.name Ethereum
                    +e.picture
                        img(src="static/img/ethereum.png" alt='image')
                    +b.info
                        +e.price
                            .price Price:
                            .count
                                span.priceEthereum 0
                        +e.percent
                            .percent Percent change
                            .change
                                .toggle-border
                                    input#ethereum.checkbox(type='checkbox' checked="checked")
                                    label(for='ethereum')
                                        .handle
                        +e.hour
                            .hour Hour change
                            .hour-count.count-color 0
                        +e.day
                            .day Day change
                            .day-count.count-color 0
                        +e.week
                            .week Week change
                            .week-count.count-color 0
                        +e.month
                            .month Month change
                            .month-count.count-color 0
                +b.crypto.litecoin
                    +e.name Litecoin
                    +e.picture
                        img(src="static/img/litecoin.png" alt='image')
                    +b.info
                        +e.price
                            .price Price:
                            .count
                                span.priceLitcoin 0
                        +e.percent
                            .percent Percent change
                            .change
                                .toggle-border
                                    input#litecoin.checkbox(type='checkbox' checked="checked")
                                    label(for='litecoin')
                                        .handle
                        +e.hour
                            .hour Hour change
                            .hour-count.count-color 0
                        +e.day
                            .day Day change
                            .day-count.count-color 0
                        +e.week
                            .week Week change
                            .week-count.count-color 0
                        +e.month
                            .month Month change
                            .month-count.count-color 0
                +b.crypto.bitcoin
                    +e.name Bitcoin
                    +e.picture
                        img(src="static/img/bitcoin.png" alt='image')
                    +b.info
                        +e.price
                            .price Price:
                            .count
                                span.priceBitcoin 0
                        +e.percent
                            .percent Percent change
                            .change
                                .toggle-border
                                    input#bitcoin.checkbox(type='checkbox' checked="checked")
                                    label(for='bitcoin')
                                        .handle
                        +e.hour
                            .hour Hour change
                            .hour-count.count-color 0
                        +e.day
                            .day Day change
                            .day-count.count-color 0
                        +e.week
                            .week Week change
                            .week-count.count-color 0
                        +e.month
                            .month Month change
                            .month-count.count-color 0
